* {
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  padding: 5px;
}

h1 {
  font-size: 45px;
  padding: 5px;
}

h2 {
  font-size: 35px;
  padding: 5px;
}

h4 {
  font-size: 25px;
  padding: 5px;
}

.outerLayout {
  background-color: beige;
  width: auto;
  height: 100%;
}

.innerLayout {
  font-family: sans-serif;
  padding-top: 7%;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  height: 70%;
  width: 70%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: burlywood;
  color: white;
  text-align: center;
}

.contactInfo {
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.emailStyles {
  margin-left: 25%;
}

.gitStyles {
  text-decoration: none;
  color: white;
  margin-left: 20%;
}

.aboutMe {
  text-align: justify;
  margin-top: 20px;
}
